{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ $alltoc := sort $.Site.Data.playtoc "sortkey"}}
<div class="row">
  <div class="col-md-8">
    <nav class="p-crumb">
      <ol>
        <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {{ with .Section }}
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
        {{ end }}
        <li class="active">{{ .Title }}</li>
      </ol>
    </nav>
    <article class="single">
      <div class="content-inner">
        <h1 class="title">Play2 + ScalikeJDBC Hands-on</h1>
        <div class="article-body">
          <h2>What's this?</h2>
          <p>
            This is a hands-on training material to know how you can create a simple web application using Play2 + ScalikeJDBC.
          </p>
          <p>
            The goal of this training is:
          </p>
          <ul>
            <li>First touch to Scala</li>
            <li>Create tiny web application in few hours</li>
          </ul>
          <p>
            So we don't much explain about features of Scala languages and each framework deeply.
            We achieve above goal using only basic knowledge of Scala, Play and ScalikeJDBC.
          </p>
          <h2>Versions</h2>
          <p>
            Target frameworks and versions are below:
          </p>
          <ul>
            {{ range $alltoc }}<li><a href="{{ .contents_path }}/index.html">{{  chomp .title }}</a></li>
            {{ end }}
          </ul>
          <h2>Overview</h2>
          <p>
            We create a tiny CRUD application that manages user information in the first half.
            In the second half, we also create JSON based Web API that has same functionality.
          </p>
          <p>
            Contents of this hands-on traiuning are managed at <a href="https://github.com/takezoe/play2-hands-on">GitHub</a>.
            This repository includes <a href="https://github.com/takezoe/play2-hands-on/tree/master/projects">complete source code</a> of the application you will create trought this training. You can refer that if you need.
          </p>
          <h2>Feedback</h2>
          <ul>
            <li><a href="https://github.com/takezoe/play2-hands-on/issues">Issues</a></li>
            <li><a href="https://github.com/takezoe/play2-hands-on/pulls">Pull Requests</a></li>
          </ul>
        </div>
      </div>
    </article>
  </div>

  <div class="col-md-4">
    <section>
      <header>Versions</header>
      <div>
        <ul>
          {{ range $alltoc }}<li class="p-terms"><a href="{{ .contents_path }}/index.html">{{  chomp .title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </section>
    <section>
      <header>Links</header>
      <div>
        <ul>
          <li class="p-terms"><a href="https://github.com/takezoe/play2-hands-on">GitHub</a></li>
          <li class="p-terms"><a href="https://www.playframework.com/">Play Framework</a></li>
          <!--
          <li class="p-terms"><a href="http://slick.lightbend.com/">Slick</a></li>
          -->
          <li class="p-terms"><a href="http://scalikejdbc.org/">ScalikeJDBC</a></li>
          <!--
          <li class="p-terms"><a href="https://github.com/bizreach/slick-reference">Slickチートシート</a></li>
          -->
        </ul>
      </div>
    </section>
  </div>
</div>
{{ end }}
